.container-large {
    max-width: 1030px;
    // margin: 0 auto;
}

.container-medium {
    max-width: 830px;
    margin: 0 auto;
}

.container-small {
    max-width: 710px;
    margin: 0 auto;
}


body {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-1 {
    flex-basis: 100%;
}
