.container-large {
    max-width: 1100px;
    // margin: 0 auto;
}

.container-medium {
    max-width: 830px;
    margin: 0 auto;
}

.container-small {
    max-width: 710px;
    margin: 0 auto;
}


body {
    font-family: 'Kdam Thmor Pro', sans-serif;

}



.row {
    display: flex;
    flex-wrap: wrap;
}


.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-1 {
    flex-basis: 100%;
}


.btn {
    background-color: #08cb7b ;
    color: #30405f;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border: 4px solid #30405f ;
    outline:solid #08cb7b 2px;
    border-radius: 999px;
    line-height: 30px;
    padding: 0px 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #94cb53 ;
    outline: 2px solid #94cb53 ;
}